<!DOCTYPE html>
<html lang="en">
<!-- Importação do cabeçalho -->
<%- include('partials/header.ejs') %>
    <!-- Importação Navbar -->
    <%-include('partials/navbar-menu.ejs') %>
        <title>Home</title>

        <body>
            <!-- Tela de alerta -->
            <%- include('partials/msgAlerta/alert.ejs')%>
                <!-- Fim da tela de alerta -->
                <p>Página Home</p>
        </body>
        <!-- Importação do rodapé -->
        <%-include('./partials/footerBarhome.ejs')%>
        <%- include('partials/scripts.ejs')%>

</html>