<!-- Importação do cabeçalho -->
<%- include('partials/header/header.ejs') %>
    <link rel="stylesheet" href="../css/home.css">
    <!-- Importação Navbar -->
<%-include('partials/navbar/navbar.ejs') %>
        <title>Home</title>
        <body>
            <br>
                <br>
                <!-- Cards que conterá informações sobre os produtos -->
                <%- include('./partials/backgroundImg/img.ejs')%>
        </body>
        <!-- Importação do rodapé -->
<%-include('./partials/footer/footerBarhome.ejs')%>
<%- include('partials/scripts/scriptPrincipal.ejs')%>

</html>